In [2]:
import pandas as pd

In [3]:
test = pd.DataFrame({'aba':[2,3],'aca':[4,5]})

In [4]:
test.info

<bound method DataFrame.info of    aba  aca
0    2    4
1    3    5>

In [5]:
test.describe()

            aba       aca
count  2.000000  2.000000
mean   2.500000  4.500000
std    0.707107  0.707107
min    2.000000  4.000000
25%    2.250000  4.250000
50%    2.500000  4.500000
75%    2.750000  4.750000
max    3.000000  5.000000

In [6]:
test.head()

   aba  aca
0    2    4
1    3    5

In [9]:
test[test['aba'] > 2]

   aba  aca
1    3    5